@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Gemini_Generated_Image_16zzfm16zzfm16zz.png);
    background-size: cover;
    background-position: center;
    color: #f4eee3;
}
.wrapper{
    background-color: transparent;
    background: hsl(0, 0%, 100%, 0.3);
    border:1px solid hsl(0, 0%, 100%, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}
h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.form{
    background-color: transparent;
    background: hsla(0, 0%, 100%, 0.1);
    border:1px solid hsl(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
}
input, button, #download{
    padding: 15px;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
    border:1px solid hsl(0, 0%, 100%, 0.3);
    color: #f4eee3;
    margin-top: 10px;
}
button, #download{
    background-color: transparent;
    background: hsla(204, 98%, 40%, 0.333);
    cursor: pointer;
    transition: 0.5s;
}
button:hover, #download:hover{
    background-color: transparent;
    background: hsla(204, 97%, 48%, 0.498);
}
.result{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result.active{
    display: flex;
}
#qrcode{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border:1px solid hsl(0, 0%, 100%, 0.3);
    border-radius: 30px;
}
#download{
    display: none;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
}